<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plan your trip in according to the weather
    forecast. Don't let anything surprise you! Learn more about your destination
    and prepare a personalised TODO-list.">
    <title>TripPrepper App</title>
  </head>

  <body>
    <nav>
      <div id="logo-wrapper">
        <h1>TripPrepper</h1>
        <div id="logo-img">
        </div>
      </div>
      <div id="menu">
        <!--Button for mobile-friendly layout-->
        <button class="menu-btn">Menu</button>
        <div id="dropdown-menu">
          <ul>
            <li class="menu-link">Home</li>
            <li class="menu-link"><a href="/about">About</a></li>
            <li class="menu-link">Guide</li>
            <li class="menu-link">My Trips</li>
          </ul>
        </div>
      </div>
    </nav>
    <main id='main'>
      <p>About</p>
    </main>

    <footer>
      Footer's here.
    </footer>

  </body>
</html>
