<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Plan your trip in according to the weather
    forecast. Don't let anything surprise you! Learn more about your destination
    and prepare a personalised TODO-list.">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css">
    <title>TripPrepper App</title>
  </head>

  <body>
    <nav>
      <div id="logo-wrapper">
        <h1>TripPrepper</h1>
        <div id="logo-img">
        </div>
      </div>
      <div id="menu">
        <!--Button for mobile-friendly layout-->
        <button id="mobile-menu-btn" class="menu-btn">Menu</button>
        <div id="dropdown-menu">
          <ul id="menu-links">
            <li><a class="menu-link" href="/">Home</a></li>
            <li><a class="menu-link" href="/about">About</a></li>
            <li><a class="menu-link" href="/trips">My Trips</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <main id='main'>
      <div class="hidden" id="loader">
        <p class="loading">Loading...</p>
      </div>
      <div id="plan-trip-section">
        <h2>Plan your trip</h2>
        <div id="plan-trip-input">
          <form class="form" method="post">
            <p>Departing:</p>
            <input class="input" type="date" name="date" id="date" required></input>
            <p>Destination:</p>
            <input id="place" placeholder="ex.London" class="input" type="text" name="destination" required></input>
            <button class="btn" type="button" name="button" onclick="return Client.clickEvent()">Let's go!</button>
          </form>
        </div>
      </div>
    </main>

    <footer>
      <div class="box-footer">
        Betina Zhou <a href="https://github.com/zh-betina"><span class="fab fa-github"></span></a> - 2020 for Udacity FEND Project
      </div>
      <div class="box-footer">
        <a class="ftr-link" href="https://www.weatherbit.io/">WeatherBit</a>
        <a class="ftr-link" href="https://www.weatherbit.io/">GeoNames</a>
        <a class="ftr-link" href="https://pixabay.com/service/about/api/">Pixabay API</a>
        <a href="https://developers.amadeus.com/">Amadeus API</a>
      </div>
    </footer>
    <script>
      if ('serviceWorker' in navigator) {
          window.addEventListener('load', () => {
              navigator.serviceWorker.register('/service-worker.js');
          });
      };
    </script>
  </body>
</html>
