
html {

  font-size: 17px;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100vw;
}
/*Mobile-first Layout*/
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image: url('../media/bgr-mobile.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;

  z-index: 0;
}

.bgr-box{
  max-width: 60vw;
  text-align: center;
}

/*Larger screens*/
@media (min-width: 900px) {

  html {
    font-size: 16px;
  }
  body {
    background-image: url('../media/bgr.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}
