main {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

h2 {
  font-size: 2.4rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  p {
    text-align: center;
    font-size: 2rem;
  }
}

.input {
  background-color: white;
  border-width: thin;
  border-color: black;
  border-style: solid;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  color: black;

}

.btn {
  border-radius: 0.5rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  background-color: rgba(255,255,255,0.7);
  height: 3rem;
  color: black;
  border-style: solid;
  border-width: medium;
  border-color: black;
  width: 25vw;
  align-self: center;
  animation-duration: 0.4s;
}
